<!DOCTYPE html>
<html lang="pt-BR">
<head>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRE-SE</title>
    <link rel="stylesheet" href="./styles/home.css">
</head>
<body>
    <div class="screen">
        <div class="up">
            <div class="texto">
                <h1>BENE</h1>
            </div>
        </div>
        <div class="down">
            <h2>OQUE VOCÊ DESEJA FAZER ?</h2>
            <a  onclick="window.location.href='https://backend-project-gilb-gabrielmarquezin.vercel.app/pages/criar'" ><button>ADICIONAR</button></a>
            <a onclick="window.location.href='https://backend-project-gilb-gabrielmarquezin.vercel.app/pages/atualizar'"><button>ATUALIZAR</button></a>
            <a onclick="window.location.href='https://backend-project-gilb-gabrielmarquezin.vercel.app/pages/deletar'"><button>DELETAR</button></a>
        </div>
    </div>
</body>
</html>