*{
    margin: 0px;
    padding: 0px;
}
.all{
    display: flex;
}
.up{
    background-color: #F5F5F5;;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 30vh; 
    position: relative;
    background-image: url("../assets/blob.png"); 
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

}
.down{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 70vh;
    background-color: #00D264;
    border-radius: 10px;
    padding-bottom: 20px;
    gap: 40px;
}
button{
    height: 10vh;
    width: 70vw;
    background-color: #419F57;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
}
h1{
    color: white;
    z-index: 10;
}
.down h2{
    color: white; 
    width: 60vw;
    font-family: 'Noto Serif Ahom', serif;
    text-align: center;
    margin-top: 5vh;
}
