@media (max-width: 900px){
    #sugestao{
        display: none;
    }
    .text{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 1300px){
    .menu{
       height: 30%;
    }
}