<!DOCTYPE html>
<html lang="pt-BR">
<head>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kit.fontawesome.com/6a6ae047b2.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6a6ae047b2.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADICIONAR</title>
    <link rel="stylesheet" href="../../styles/formulario/create/addE.css">
    <link rel="stylesheet" href="../../styles/loading/loading.css">
</head>
<body>
    <div class="all">
       <a href="http://localhost:2000"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="text">
            <h1>ADICIONE OS DADOS</h1>
        </div>
        <div class="form">
            <form method="POST" action="http://localhost:2000/pages/criar" id="form"  enctype="multipart/form-data">
                <label>TIPO</label><br>
                <input type="text" name="tipo"><br>
                <label>MARCA</label><br>
                <input type="text" name="marca"><br>
                <label>PESO</label><br>
                <input type="text" name="tamanho"><br>
                <label>CLASSIFICAÇÃO</label><br>
                <input type="text" name="classificacao"><br>
                <label>ESTADO</label><br>
                <input type="text" name="estado"><br>
                <label>PREÇO</label><br>
                <input type="text" name="preco"><br>
                <label>SELECIONE O MERCADO</label><br>
                <select name="market">
                    <option value="mercado">NENHUM</option>
                    <option value="biga">BIGA</option>
                    <option value="deirton">DEITON</option>
                    <option value="francisco">MERCADO SÃO FRANCISCO</option>
                </select><br>
                <br>
                <div id="img">
                    <label for="file" id="labelfile"><span>ESCOLHA UMA IMAGEM</span></label>
                    <input  type="file" id="file" multiple name="file" required>
                    <input type="url" name="img" id="url">
                </div><br>
                <center>
                   <div class="btn">
                        <button id="btnSubmit">ADICIONAR</button>
                        <div class="loading blocked" id="load" >
                            <div></div>
                        </div>
                   </div>
                </center>
            </form>
        </div>

        <div class="validation" id="validation" style="display: none;"><%= empty %></div>

    </div>
    <script  src="../../src/formulario/adicionar/script.js"></script>
</body>
</html> 