@media (max-width: 1300px){
    .conteiner{
        width: 450px;
    }

    .input-group{
        width: 100%;
        height: 60px;
    }

    .input-group input:focus ~label,
    .input-group input:valid ~label{
        transform: translateY(calc(-90% - 0.8rem));
        font-size: 0.6rem;
        background-color: #00D264;
        left: 5%;
        opacity: 1;
        color: white;
        padding: 5px;
    }
}

@media (max-width: 600px){
    body{
        height: 90vh;
    }
    .conteiner{
        width: 90%;
        height: 80%;
        overflow: hidden;
        overflow-y: auto;
        margin: 0 auto;
    }

    .form-index{
        gap: 45px;
    }
    .input-group{
        width: 100%;
    }

    .input-group input{
        width: 100%;
        padding: 20px;
    }
 
     
}

