<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/add.css">
    <link rel="stylesheet" href="../styles/formulario/responsiv.css">
    <title>criar</title>
</head>
<body>
    <div class="conteiner">
        <form action="" class="form">
            <div class="form-index">
                <div class="input-group">
                    <input type="text" name="tipo" id="tipo">
                    <label for="tipo">TIPO</label>
                </div>
    
                <div class="input-group">
                    <input type="text" name="marca" id="marca">
                    <label for="marca">MARCA</label>
                </div>
    
                <div class="input-group">
                    <input type="text" name="estado" id="estado">
                    <label for="estado">ESTADO</label>
                </div>
    
                <div class="input-group">
                    <input type="text" name="classificacao" id="classificacao">
                    <label for="classificacao">CLASSIFICAÇÃO</label>
                </div>
    
                <div class="input-group">
                    <input type="number" name="preco" id="preco">
                    <label for="preco">PREÇO</label>
                </div>
    
                <div class="input-group">
                    <input type="number" name="tamanho" id="tamanho">
                    <label for="tamanho">TAMANHO</label>
                </div>
    
                <div class="input-desc">
                    <label for="descricao">DESCRIÇÃO</label>
                    <textarea name="descricao" id="descricao" rows="5"></textarea>
                </div>

                <div class="input-group market">
                    <select id="select-market" name="select-market">
                        <option value="mercado">MERCADO</option>
                        <option value="biga">biga</option>
                        <option value="deirton">deirton</option>
                        <option value="francisco">francisco</option>
                    </select>
                </div>

                <div class="img">
                    <label for="img">IMAGEM</label>
                    <input type="file" name="img" id="img" placeholder="Esolha uma imagem">
                </div> 

                <div class="button">
                    <button type="submit" id="enviar">ENVIAR</button>
                </div>
            </div>
        </form>
        
    </div>
</body>
</html>