<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/formulario/create/add.css">
    <link rel="stylesheet" href="../styles/formulario/create/responsiv.css">
    <title>criar</title>
</head>
<body>
    <div class="conteiner">
        <form action="" class="form">
            <div class="form-index">
                <div class="input-group">
                    <input type="text" name="tipo" id="tipo" list="tipos" required>
                    <label for="tipo">TIPO</label>
                    <datalist id="tipos">
                        <%categorias.forEach(tipo => {%>
                            <option value='<%= tipo.cat %>'><%= tipo.cat%></option>
                        <%})%>
                    </datalist>
                </div>
    
                <div class="input-group">
                    <input type="text" name="marca" id="marca" required>
                    <label for="marca">MARCA</span>
                </div>
    
                <div class="input-group">
                    <input type="text" name="estado" id="estado" required>
                    <label for="estado">ESTADO</label>
                </div>
    
                <div class="input-group">
                    <input type="text" name="classificacao" id="classificacao" required>
                    <label for="classificacao">CLASSIFICAÇÃO</label>
                </div>
    
                <div class="input-group">
                    <input type="number" name="preco" id="preco" required>
                    <label for="preco">PREÇO</label>
                </div>
    
                <div class="input-group">
                    <input type="number" name="tamanho" id="tamanho" required>
                    <label for="tamanho">TAMANHO</label>
                </div>
    
                <div class="input-desc">
                    <label for="descricao">DESCRIÇÃO</label>
                    <textarea name="descricao" id="descricao" rows="5"></textarea>
                </div>

                <div class="market">
                    <select id="select-market" name="select-market">
                        <option value="mercado">MERCADO</option>
                        <option value="biga">biga</option>
                        <option value="deirton">deirton</option>
                        <option value="francisco">francisco</option>
                    </select>
                </div>

                <div class="img">
                    <span>IMAGEM</span>
                    <label for="img"><span class="img-select" id="img-span"></span></label>
                    <input type="file" name="img" id="img" placeholder="Esolha uma imagem">
                </div> 

                <div class="button">
                    <button type="button" onclick="window.location.href ='https://ceara-cientifico.herokuapp.com'">VOLTAR</button>
                    <button type="submit" id="enviar">ENVIAR</button>
                </div>
            </div>
        </form>
    </div>
    <script src="../src/formulario/createFile.js"></script>
</body>
</html>