<!DOCTYPE html>
<html lang="pt-BR">
<head>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATUALIZAR</title>
    <link rel="stylesheet" href="../../styles/formulario/delete/deleteE.css">
</head>
<body>
    <div class="all">
       <a href="/Codes/Form-Bene/src/Inicio/home.html"><img src="/Codes/Form-Bene/assets/SETA.png" alt=""></a>
        <div class="text">
            <h1>DELETE OS DADOS</h1>
        </div>
        <div class="form">
            <form method="POST" action="https://33c4-200-36-135-255.sa.ngrok.io/pages/deletar">
                <label>TIPO</label><br>
                <input type="text"><br>
                <label>MARCA</label><br>
                <input type="text"><br>
                <label>PESO</label><br>
                <input type="text"><br>
                <label>CLASSIFICAÇÃO</label><br>
                <input type="text"><br>
                <label>ESTADO</label><br>
                <input type="text"><br>
                <label>PREÇO</label><br>
                <input type="text"><br>
                <label>SELECIONE O MERCADO</label><br>
                <select>
                    <option value="">NENHUM</option>
                    <option value="">BIGA</option>
                    <option value="">DEITON</option>
                    <option value="">MERCADO SÃO FRANCISCO</option>
                </select>
                <br>
                <br>
                <br>
                <center>
                    <button>DELETE</button>
                </center>
            </form>
        </div>
    </div>
</body>
</html>