<!DOCTYPE html>
<html lang="pt-BR">
<head>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATUALIZAR</title>
    <link rel="stylesheet" href="../../styles/formulario/delete/deleteE.css">
    <link rel="stylesheet" href="../../styles/loading/loading.css">
</head>
<body>
    <div class="all">
       <a href="/Codes/Form-Bene/src/Inicio/home.html"><img src="/Codes/Form-Bene/assets/SETA.png" alt=""></a>
        <div class="text">
            <h1>DELETE OS DADOS</h1>
        </div>
        <div class="form">
            <form method="POST" action="https://33c4-200-36-135-255.sa.ngrok.io/pages/deletar" id="form">

                <div class="input-group">
                    <label for="codigo">DIGITE CODIGO DO PRODUTO</label>
                    <input type="text" name="codigo" id="codigo">
                </div>

                <select name="market">
                    <option value="mercado">NENHUM</option>
                    <option value="biga">BIGA</option>
                    <option value="deirton">DEITON</option>
                    <option value="francisco">MERCADO SÃO FRANCISCO</option>
                </select>

                <div class="btn">
                    <button id="btnSubmit">DELETAR</button>
                    <div class="loading blocked" id="load" >
                        <div></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script  src="../../src/formulario/delete/delete.js"></script>
</body>
</html>